Checks:          'cppcoreguidelines-*,bugprone-*,performance-*,modernize-*,readability-*,-readability-uppercase-literal-suffix,-modernize-use-trailing-return-type'
WarningsAsErrors: ''
HeaderFilterRegex: '' # don't show errors from headers
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
